<!DOCTYPE html>
<html lang="en">
<%- include('partial/header.ejs') %>
<body>
    <%- include('partial/page-1-loggedin.ejs') %>
    <%- include('partial/page-2.ejs') %>
    <%- include('partial/page-3.ejs') %>
    <%- include('partial/page-4.ejs') %>
    <%- include('partial/page-5.ejs') %>
    <%- include('partial/page-6.ejs') %>
</body>
</html>